grandalf
pyautogui
aiohttp
aiofiles
protobuf
ipython
pyyaml
langchain-google-vertexai
requests
langgraph
loguru
pydantic
pydantic-settings
chainlit
google-cloud-aiplatform
vertexai
langchain-google-genai
langchain
langchain-core
langchain-community
chromadb
langchain-chroma
langchain-text-splitters
pytest
pytest-cov
pytest-asyncio
mypy
